
@{
    ViewBag.Title = "Description";
  
}

<h2>Description</h2>
<body>
    <h4>
        collegeSync offer several tools to make the most of your time.
    </h4>
    <hr />
    <br />
    <h2>The Calendar</h2>
    <p>
        You can use the calendar to keep track of assignments, exams, study groups or other personal events.  <br />
        You will have the ability to add, change or delete entries. <br />
        Additionaly, your professors, coaches, and TA's can add items to the calendar as needed.
    </p>
    <h2>Documentation</h2>
    <p>
        This feature allows you to create, save, and send mid-terms, papers, lecture notes and other documents. <br />
        You can make sure your important documents get to your professor on time or get the lecture notes if you miss a class.
    </p>
    <h2>Slack</h2>
    <p>
        Slack is an effective communication application to stay in contact with the people in your life.<br />
        You can sign up for free and find your classes channel.  In your channel you can message classmates or anyone else you need.  <br />
        Have a question for your professor? Slack.  Want to see if a classmate is studying for your exam so you can study together?  Slack.
    </p>
    
</body>

