@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="slide1"></div>
            </div>
            <div class="item">
                <div class="slide2"></div>
            </div>
            <div class="item">
                <div class="slide3"></div>
            </div>
        </div><!-- .carousel-inner -->
        <div class="container carousel-overlay text-center">
            <h1>collegeSync</h1>
            <p class="lead">Sync up with professors, coaches, classmates, and friends.<br>Communicate, Remember, Turn In...at the click of a button.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div><!-- .carousel -->
    <!--end bg-carousel-->
   </div> 

<div class="row">
    <div class="col-md-4">
        <h2>Use Calendar</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Use Doc Drop</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Use Slack</h2>
        <p>
            Communication for the 21st century.  Talk with your professors, coaches, or fellow students.<br />
            Group messaging and direct messaging available.
        </p>
        <p><a href="https://slack.com/signin"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a></p>
        @*<p><a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=86869533142.86882573895"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a></p>
            <p><a href="https://slack.com/oauth/authorize?scope=incoming-webhook&client_id=86869533142.86882573895"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a></p>*@
    </div>
</div>